name: Python Application CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      # This is the requirement: trigger pip install -r requirements.txt
      # --require-hashes enforces the Chain of Trust
      run: |
        python -m pip install --upgrade pip
        pip install --require-hashes -r requirements.txt